Repository data-apis/dataframe-api, pull requests merged in 2022-07, with the labels that each got.

#81 Remove prototype Pandas implementation from `protocol/`
  protocol/pandas_implementation.py
Labels: interchange-protocol, maintenance

#69 Use a column to store categories, rather than a mapping
  protocol/dataframe_protocol.py
Labels: interchange-protocol

#74 Declare enums explicitly, fix type hints
  protocol/dataframe_protocol.py
Labels: interchange-protocol, bc-breaking
