Repository data-apis/dataframe-api, pull requests merged in 2022-12, with the labels that each got.

#92 Update Sphinx conf.py for the dataframe API site to use Myst
  requirements.txt
  spec/conf.py
  spec/purpose_and_scope.md
  spec/use_cases.md
Labels: maintenance

#93 init python package for API spec
  spec/API_specification/dataframe_api/__init__.py
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: enhancement

#94 Add indexing, assign, arithmetic methods
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#95 API: groupby reductions
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/API_specification/dataframe_api/groupby_object.py
Labels: API design
