Repository data-apis/dataframe-api, pull requests merged in 2023-08, with the labels that each got.

#208 Add 2d constructor
  spec/API_specification/dataframe_api/__init__.py
  spec/API_specification/index.rst
Labels: API design

#218 Fix a broken CI job because of a missing `Optional`
  spec/conf.py
Labels: CI

#217 Address leftover renaming away from `__dataframe_standard__`
  spec/purpose_and_scope.md
Labels: maintenance

#215 Fix up some return types for methods with `skip_nulls`
  spec/API_specification/dataframe_api/_types.py
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/conf.py
  spec/design_topics/python_builtin_types.md
Labels: static typing

#199 Add an `is_dtype` function
  spec/API_specification/dataframe_api/__init__.py
  spec/API_specification/index.rst
Labels: API design

#213 to_array_object: type dtype as str, note possibilities
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#223 Don't let Column.name be None
  spec/API_specification/dataframe_api/__init__.py
  spec/API_specification/dataframe_api/column_object.py
Labels: API design

#230 Rename insert, remove label argument
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#234 Add DataFrame.sort and Column.sort
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#238 Add dataframe.join
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#232 Add DataFrame.update_columns
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#228 Add warning for nan_as_null
  protocol/dataframe_protocol.py
Labels: API design

#233 Add api_version to constructors
  spec/API_specification/dataframe_api/__init__.py
Labels: API design
