Repository data-apis/dataframe-api, pull requests merged in 2023-12, with the labels that each got.

#294 Add example of a sklearn like pipeline
  spec/API_specification/examples/07_sklearn_like_pipeline.py
Labels: documentation

#326 Add DataFrame.iter_columns() and simplify
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/API_specification/examples/01_standardise_columns.py
  spec/API_specification/examples/04_datatypes.py
  spec/design_topics/execution_model.md
Labels: API design, ergonomics

#339 rename get_rows to take
  spec/API_specification/dataframe_api/__init__.py
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#333 Add Scalar.parent_dataframe
  spec/API_specification/dataframe_api/scalar_object.py
Labels: API design
