Repository data-apis/dataframe-api, pull requests merged in 2023-04, with the labels that each got.

#130 add shape property
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: enhancement, API design

#114 add an `__invert__` method to `DataFrame`
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#127 add any and all rowwise
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#145 Fix the Circle CI preview link on PRs
  .github/workflows/preview.yml
Labels: CI

#134 Rename skipna => skip_nulls
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/API_specification/dataframe_api/groupby_object.py
Labels: API design

#147 DataFrame.get_rows should take Column, not Sequence
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#112 Add from_dict classmethod
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#148 add Column.from_sequence
  spec/API_specification/dataframe_api/column_object.py
Labels: API design

#153 Add design topic page on use of Python builtin types
  spec/design_topics/index.rst
  spec/design_topics/python_builtin_types.md
Labels: documentation, API design

#149 remove 'nan-like' from isnan description
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#152 Clean up the html docs for the dataframe API standard
  requirements.txt
  spec/API_specification/column_object.rst
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/API_specification/dataframe_api/groupby_object.py
  spec/API_specification/dataframe_object.rst
  spec/API_specification/groupby_object.rst
  spec/API_specification/index.rst
  spec/api_design_methodology.md
  spec/benchmark_suite.md
  spec/conf.py
  spec/index.rst
  spec/usage_data.md
  spec/use_cases.md
Labels: documentation

#128 add `DataFrame.sorted_indices`
  spec/API_specification/dataframe_api/dataframe_object.py
Labels: API design

#141 Fill in column a bit
  spec/API_specification/dataframe_api/column_object.py
  spec/API_specification/dataframe_api/dataframe_object.py
  spec/conf.py
Labels: API design
